<h1 *ngIf="isShow">Họ tên: {{username}}</h1>
<button type="button" class="btn btn-danger" (click)="onClick()">Click Me!</button>
<hr>
<div class="radio">
  <label>
    <input type="radio" name="rdCheck" (click)="onChange(true)"> Hợp Lệ
  </label>
  <label>
    <input type="radio" name="rdCheck" (click)="onChange(false)"> Không Hợp Lệ
  </label>
  <h3 *ngIf="isCheck; else elseBlock">Hợp lệ</h3>
  <ng-template #elseBlock>
    <h3>Không hợp lệ</h3>
  </ng-template>
  <div class="form-group">
    <label> Tuổi: </label>
    <input type="number" class="form-control" [ngModel]="age">
  </div>
<h3 *ngIf="age>18; then enoughBlock else elseNotEnough"> Đủ tuổi</h3>
  <ng-template #enoughBlock></ng-template>
  <ng-template #elseNotEnough>
    <h2> Chưa đủ tuổi</h2>
  </ng-template>
</div>
<hr>
<hr>
<h1> Thực hành *ngFor</h1>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of names ">
    {{item}}
  </li>
</ul>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let item of product; let i = index; let f = first; let l = last;
    let e = even;
    let o = odd; trackBy: myTrackByFunction "
    [style.background-color]="f === true ? 'cyan' : 'green'"
    [style.background-color]="(l === true) ? 'red' : (f === true) ? 'cyan' : 'green'"
    [style.background-color]="e === true ? 'red' : 'blue'"
    >

  <td>{{i+1}}{{f}}{{l}}</td>
  <td>{{item.name}}</td>
  <td>{{item.price}}VNĐ</td>
</tr>
</tbody>

</table>
<button type="button" class="btn btn-warning" (click)="onLoadData()">Lấy Dữ Liệu</button>
